@import url('/redHatFonts/fonts.css');

body {
    min-width: 380px;
    max-width: 100px;
    font-size: 16px;
    margin: 3%;
    padding: 2%;
}

h1 {
    font-family: 'RedHatDisplay';
    font-weight: 900;
    
}